docker.enabled = false

process {
    executor = 'k8s'
    container = 'floriankaterndahl/geoflow@sha256:96b6c613ed5685beb86746d9f4b764d461ac3bd2553376111f8e0c9a9a3db35d'
    errorStrategy = 'terminate'

    withLabel: debug {
        memory = '8 GB'
        time = '12h'
    }
}

executor.queueSize = 8
workDir = '/workspace/work'

k8s {
    namespace = System.getenv('GEOFLOW_NAMESPACE') ?: 'geoflow'
    serviceAccount = 'nextflow-sa'
    storageClaimName = System.getenv('GEOFLOW_PVC') ?: 'geoflow-pvc'
    storageMountPath = '/workspace'
    workDir = '/workspace/work'
    launchDir = '/workspace/geoflow'
    projectDir = '/workspace/projects'
    runAsUser = 0
    imagePullPolicy = 'IfNotPresent'
}
